*
!.gitignore
!.bash_aliases
!.bashrc
!README.md
!install.sh
!setup.sh
!kanata.kbd

!nixos/
!hypr/
!hypr/*
!hypr/*/*
!waybar/
!waybar/*
!waybar/*/*
!yazi/
!fontconfig/
!mpv/
!gtk-3.0/
!gtk-4.0/
!rofi/
!rofi/*/
!rofi/*/*/
!rofi/*/*/*/
!VSCodium/
!VSCodium/*/
!VSCodium/*/*/
!scripts/
